@{
    ViewData["Title"] = "Home Page";
}
@inject Infrastructure.Data.ApplicationDbContext dbContext
@model List<Core.Entities.StudentTable>

<style>
    .my_button{
        display: flex;
        justify-content: space-between;
        
    }
</style>

<div class="text-center">
    <h2 class="display-5 mb-4">Welcome Students</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student No</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            @foreach (var student in Model)
            {
                <tr>
                    <td>@(Model.IndexOf(student) + 1)</td>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    @{

                        string className = "";
                        var classEntity = dbContext?.Classes?.FirstOrDefault(c => c.Id == student.ClassId);
                        if (classEntity != null)
                        {
                            className = classEntity.Name;
                        }
                    }
                    <td>@className</td>
                    <td>@student.DOB.ToString("MM-dd-yyyy")</td>
                    <td>@(student.Gender == 0 ? "Male" : "Female")</td>
                    
                    <td class="my_button">
                        <a class="btn btn-info" asp-controller="StudentInfo" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                        <a class="btn btn-secondary" asp-controller="StudentInfo" asp-action="Detail" asp-route-id="@student.Id">Details</a>
                        <span>
                            <form id="deleteForm" asp-controller="StudentInfo" asp-action="Delete" asp-route-id="@student.Id" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </span>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>

</div>
